:root {
  --primaryColor: hsl(243, 87%, 12%);
  --secondaryColor: hsl(238, 22%, 44%);
  --tertiaryColor: hsl(224, 93%, 58%);
  --baseColor: hsl(0, 0%, 59%);
  --backgroundColor: hsl(0, 0%, 100%);
  --headingFont: "Raleway", sans-serif;
  --bodyFont: "Open Sans", sans-serif;
}

body,
html {
  overflow-x: hidden;
  font-family: var(--bodyFont);
  color: var(--primaryColor);
}

/* ===========================
   HOVER
=========================== */

button:hover {
  background-color: #6c9bff;
  cursor: pointer;
}

.productive__link:hover {
  color: #71dfcc;
  border-bottom: 2px solid #71dfcc;
  cursor: pointer;
}

.footer__link:hover {
  color: #6c9bff;
  cursor: pointer;
}

.footer__social-icon {
  cursor: pointer;
}

/* ===========================
   HOVER
=========================== */

/* ===========================
   HEADER
=========================== */

.header {
  padding: 32px;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}

.header__logo {
  width: 160px;
  height: 49px;
  padding: 48px;
}

.header__nav {
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  width: 271px;
  gap: 16px;
  justify-content: space-between;
}

.header__nav-item {
}

/* ===========================
   HEADER
=========================== */

/* ===========================
   HERO
=========================== */

.hero {
  display: flex;
  justify-content: space-between;
  padding: 48px;
}

.hero__form {
  display: flex;
  justify-content: space-between;
}

.hero__title {
  font-family: "Raleway";
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  color: var(--primaryColor);
}

.hero__description {
  font-family: "Open Sans";
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  color: var(--primaryColor);
  margin-top: 15px;
  margin-bottom: 25px;
}

.hero__input {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  width: 320px;
  height: 45px;
  padding-left: 20px;
}

.hero__button {
  font-family: "Raleway";
  font-size: 14px;
  font-weight: 700;
  background-color: var(--tertiaryColor);
  color: var(--backgroundColor);
  width: 200px;
  height: 45px;
  border-radius: 5px;
  border: none;
  margin-top: 2px;
}

/* ===========================
   HERO
=========================== */

/* ===========================
   PRODUCTIVE
=========================== */

.productive {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 150px;
}

.productive__title {
  font-family: "Raleway";
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 38px;
}

.productive__text {
  padding-top: 16px;
  padding-bottom: 15px;
}

.productive__content {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  color: var(--primaryColor);
  line-height: 24px;
  padding: 80px;
}

.productive__image {
}

.productive__link {
  color: #3da08f;
  text-decoration: none;
  border-bottom: 2px solid #3da08f;
  display: flex;
  align-items: center;
  width: 146px;
}

/* ===========================
   PRODUCTIVE
=========================== */

/* ===========================
   CTA
=========================== */

.cta {
  background-color: var(--secondaryColor);
  color: var(--backgroundColor);
  height: 242px;
  padding: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cta__title {
  font-family: "Raleway";
  font-size: 32px;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 17px;
}

.cta__description {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.cta__input {
  font-family: "Raleway";
  font-size: 12px;
  font-weight: 400;
  width: 480px;
  height: 48px;
  padding-left: 15px;
}

.cta__button {
  font-family: "Raleway";
  font-size: 14px;
  font-weight: 700;
  width: 200px;
  height: 48px;
  background-color: var(--tertiaryColor);
  color: var(--backgroundColor);
  border: none;
  border-radius: 5px;
}

.cta__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* ===========================
   CTA
=========================== */

/* ===========================
   FOOTER
=========================== */

.footer {
  background-color: var(--primaryColor);
  color: var(--backgroundColor);
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  padding: 80px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__img {
  width: 160px;
  height: 49px;
}

.footer__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  line-height: 24px;
}

.footer__contact {
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer__links,
.footer__support,
.footer__social {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 72px;
}

/* ===========================
   FOOTER
=========================== */
