:root {
  --primaryColor: hsl(243, 87%, 12%);
  --secondaryColor: hsl(238, 22%, 44%);
  --tertiaryColor: hsl(224, 93%, 58%);
  --baseColor: hsl(0, 0%, 59%);
  --backgroundColor: hsl(0, 0%, 100%);
  --headingFont: "Raleway", sans-serif;
  --bodyFont: "Open Sans", sans-serif;
}

body,
html {
  overflow-x: hidden;
  font-family: var(--bodyFont);
  color: var(--primaryColor);
}

/* sessão header */

.header {
  padding: 32px;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}

.header__img {
  width: 160px;
  height: 49px;
  padding: 48px;
}

.header__nav {
  font-family: "Raleway";
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  width: 271px;
  gap: 16px;
  justify-content: space-between;
}

.nav__item {
}

/* sessão header */

/* sessão hero */

.header__hero {
  display: flex;
  justify-content: space-between;
  padding: 48px;
}

.hero__form {
  display: flex;
  justify-content: space-between;
}

.left__title {
  font-family: "Raleway";
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  color: var(--primaryColor);
}

.left__parag {
  font-family: "Open Sans";
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  color: var(--primaryColor);
  margin-top: 15px;
  margin-bottom: 25px;
}

.form__input {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  width: 320px;
  height: 45px;
  padding-left: 20px;
}

.hero__button {
  font-family: "Raleway";
  font-size: 14px;
  font-weight: 700;
  background-color: var(--tertiaryColor);
  color: var(--backgroundColor);
  width: 200px;
  height: 45px;
  border-radius: 5px;
  border: none;
  margin-top: 2px;
}

/* sessão hero */

/* sessão productive */

.productive {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 150px;
}

.productive__title {
  font-family: "Raleway";
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 38px;
}

.productive__text {
  padding-top: 16px;
  padding-bottom: 15px;
}

.productive__left {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  color: var(--primaryColor);
  line-height: 24px;
  padding: 80px;
}

.productive__right {
}

.productive__link {
  color: #3da08f;
  text-decoration: none;
  border-bottom: 2px solid #3da08f;
  display: flex;
  align-items: center;
  width: 146px;
}

/* sessão productive */

/* sessão do meio */

.form {
  background-color: var(--secondaryColor);
  color: var(--backgroundColor);
  height: 242px;
  padding: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__title {
  font-family: "Raleway";
  font-size: 32px;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 17px;
}

.form__p {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.right__input {
  font-family: "Raleway";
  font-size: 12px;
  font-weight: 400;
  width: 480px;
  height: 48px;
  padding-left: 15px;
}

.form__button {
  font-family: "Raleway";
  font-size: 14px;
  font-weight: 700;
  width: 200px;
  height: 48px;
  background-color: var(--tertiaryColor);
  color: var(--backgroundColor);
  border: none;
  border-radius: 5px;
}

.form__right {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* sessão do meio */

/* sessão footer */

footer {
  background-color: var(--primaryColor);
  color: var(--backgroundColor);
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  width: 1290px;
  height: 280px;
  padding: 80px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__img {
  width: 160px;
  height: 49px;
}

.footer__one {
  display: flex;
  flex-direction: column;
  gap: 20px;
  line-height: 24px;
}

.contact {
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer__two {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 72px;
}
.footer__three {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 72px;
}
.footer__four {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 72px;
}

/* sessão footer */
